# Dependencies
node_modules
npm-debug.log
.npm
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Next.js
.next
out
build
dist

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
logs
*.log

# Git
.git
.gitignore
.gitattributes

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Documentation
README.md
docs
*.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Kubernetes
k8s
*.yaml
*.yml

# CI/CD
.github
.gitlab-ci.yml
.travis.yml
